body{
    background-color:#E30613;;
}
.main{
position: absolute;
width: 100%;
height: 600px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 50px 50px;
}
.back-button{
position: absolute;
width: 83%;
height: 60px;
left: 50%;
margin-left: -42%;
top: 670px;
background: #E30613;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}
.accept-button{
position: absolute;
width: 83%;
height: 60px;
left: 50%;
margin-left: -42%;
top: 47rem;
background: #FFFFFF;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
text-align: center;
color: #E30613;
}

/* horizontal line  */
.hr-idcard{
position: absolute;
width: 40%;
height:30px;
margin-left:10%;
top: 140px;
border: none;
border-bottom:2px solid #E5E5E5; ;
}

.hr-passport{
position: absolute;
width: 40%;
height:30px;
margin-left: 55%;
top: 140px;
border: none;
border-bottom:2px solid #E5E5E5; ;
}
.hr-driver-license{
position: absolute;
width: 40%;
height:30px;
margin-left:10%;
top: 250px;
border: none;
border-bottom:2px solid #E5E5E5; ;
}

.hr-covid-test{
position: absolute;
width: 40%;
height:px;
margin-left: 55%;
top: 250px;
border: none;
border-bottom:2px solid #E5E5E5; ;
}
/* text style */
.text-passenger{
position: absolute;
width: 200px;
height: 21px;
left: 50%;
margin-left: -86px;
top: 16px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
}
.text-idcard{
position: absolute;
width: 78px;
height: 25px;
top: 93px;
margin-left: 10%;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #B3BBBE;
}

.text-passport{
position: absolute;
width: 75px;
height: 25px;
top: 93px;
margin-left: 55%;
font-family: Roboto;
font-style: normal;
font-size: 16px;
color: #B3BBBE;
}
.text-driver-license{
position: absolute;
width: 150px;
height: 25px;
top: 207px;
margin-left: 10%;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #B3BBBE;
}

.text-covid-test{
position: absolute;
width: 150px;
height: 25px;
top: 207px;
margin-left: 55%;
font-family: Roboto;
font-style: normal;
font-size: 16px;
color: #B3BBBE;
}
.text-title-history{
position: absolute;
width: 79px;
height: 28px;
left: 5%;
top: 325px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
color: #000000;
}
.text-date-history{
position: absolute;
width: 39px;
height: 19px;
left: 5%;
top: 373px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #B3BBBE;
}
.text-expiry-history{
position: absolute;
width: 53px;
height: 19px;
left: 40%;
top: 373px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #B3BBBE;
}
.text-type-history{
position: absolute;
width: 39px;
height: 19px;
left: 78%;
top: 370px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
text-transform: uppercase;
color: #B3BBBE;
}
.text-desc-idcard{
position: absolute;
width: 40%;
border: none;
height: 29px;
margin-left: 10%;
top: 131px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #000000;
}
.text-desc-passport{
position: absolute;
width: 100px;
height: 29px;
left: 54%;
top: 131px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #000000;
}
.text-desc-driver{
position: absolute;
width: 40%;
border: none;
height: 29px;
margin-left: 10%;
top: 245px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #000000;  
}
.text-desc-covid{
position: absolute;
width: 100px;
height: 29px;
left: 54%;
top: 245px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #E30613;
}
.text-desc-date-history{
position: absolute;
width: 55px;
height: 72px;
left: 5%;
top: 406px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
color: #FF1414;
}
.text-desc-expiry-history{
position: absolute;
width: 55px;
height: 72px;
left: 40%;
top: 406px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
color: #FF1414;
}
.text-desc-type-history{
position: absolute;
width: 46px;
height: 72px;
left: 78%;
top: 406px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
color: #FF1414;
}
.text-desc-date-history-black{
position: absolute;
width: 55px;
height: 72px;
left: 5%;
top: 406px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
color: black;
}
.text-desc-expiry-history-black{
position: absolute;
width: 55px;
height: 72px;
left: 40%;
top: 406px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
color: black;
}
.text-desc-type-history-black{
position: absolute;
width: 46px;
height: 72px;
left: 78%;
top: 406px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
color:black;
}